/* 
    Created on : Aug 16, 2015, 10:48:52 AM
    Author     : macj7
*/

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:5%;
    float:left;
    padding:5px;	
    text-align:center;
}

section {
    float:left;
    padding:10px;
    text-align:center;
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}

form {
    width:20%; 
    border-style: double;
    border-width: 1px;
    text-align: center;
    padding: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


.notice {
    border-style: dashed;
    border-width: 1px;
    text-align: center;
    width:300px;
    font-size: 50px;
}

table {
    width:100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}

table th {
    background-color: black;
    color: white;
}

